:root {
    --primary-title-color: #212121;
    --primary-text-colo: #757575;
}


body {
    background: #E5E5E5;
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
}
/*---- ИСПРАВИТЬ НАВЕДЕНИЕ И ТАБ, подключить шрифты,выровнять границы цвета фона  секций- и портфолио html+css*/
/* --------------------------------header----------------------------- */
.site-nav .link:hover,
.site-nav .link:focus,
.contacts:hover,
.contacts:focus,
.logo:hover,
.logo:focus,
.address-text:hover,
.address-text:focus,
.footer-link:hover,
.footer-link:focus,
.logo-h:hover,
.logo-h:focus,
.logo-f:hover,
.logo-f:focus {
    color: #2196F3;
}


.header {
    background: #FFFFFF;
}
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-h {
    color: #000000;
}
.site-nav a .contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.contacts {
    color: #757575;
}
ul{
    list-style: none;
}
/* ----------------------------------main--------------------------------- */
.title-section,
.footer {
    background: #2F303A;
}
.title-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.skills-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-title-color);
}
.skills-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.skills,
.work {
    background: #E5E5E5;;
}
.work-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}
.team-name,
.team-position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}
.team-position {
    font-weight: 400;
    color: var(--primary-text-color);
}
.team {
    background: #F5F4FA;
}
/* ------------------------------------footer----------------------------------*/

.logo-f {
    color: #FFFFFF;
}
.address-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/*вторичный цвет фона */
/* 2F303A */
/* цвет основного текста*/
/* color: #212121; */
/*вторичный цвет*/
/* color: #757575; */
/*белый*/
/* color: #FFFFFF;  */
/*  цвет фокуса */
/* background: #2196F3 */
/* ------------PORTFOLIO-------------------- */
/* ----------почему кнопки не посередине и проверить их значения-------------------- */
.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    
}
/* ------------ почкмц не работает????-------------------- */
.portfolio-button:hover,    
.portfolio-button:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}
.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;   
    letter-spacing: 0.06em;    
    color: #212121;    
}

.portfolio-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}



